[submodule "Lab1-RPS"]
	path = Lab1-RPS
	url = https://github.com/andrei-radu/iasi-rps.git
[submodule "Lab2-Emotion"]
	path = Lab2-Emotion
	url = https://github.com/Vladimirescu/iasi-emotion.git
[submodule "Lab3-KAN"]
	path = Lab3-KAN
	url = https://github.com/guzov-afk/iasi.git
[submodule "Lab4-SpkRecog"]
	path = Lab4-SpkRecog
	url = https://github.com/gabitza-tech/iasi_lab_sr.git
[submodule "Lab5-SpeechDenoising"]
	path = Lab5-SpeechDenoising
	url = https://github.com/marian-negru/IASI.git
[submodule "Lab6-Chess"]
	path = Lab6-Chess
	url = https://github.com/Danzo08/Chess-digitization.git
